* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: fit-content;
}

/* Multiple selectors */
.header,
.hero,
.games-section,
.inspirational-quote,
.connect-section,
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.hero,
.games-section,
.inspirational-quote,
.footer {
    padding-left: 8px;
    padding-right: 8px;
}

/* Header */

.header {
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #433850;
    /* Sticks header to the top so it scrolls with the page */
    position: sticky;
    top: 0;
}

.header-logo {
    width: 200px;
    height: auto;
    border: 3px solid #E5E7EB;
    border-radius: 8px;
}

.header-links {
    display: flex;
    gap: 16px;
}

/* Hero */

.hero {
    background-color: #231a2c;
    padding-top: 140px;
    padding-bottom: 140px;
    gap: 16px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 920;
    color: #F9FAF8;
    text-align: center;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    max-width: 460px;
}

/* Games section */

.games-section {
    /* For parallax background image */
    background-image: url("./img/background-pic-1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 60px;
    padding-bottom: 140px;
    gap: 60px;
}

.games {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.game-header-text {
    font-size: 42px;
    font-weight: 900;
    color: #E5E7EB;
    text-align: center;
}

.asteroid-pop,
.pong {
    height: 150px;
    width: 150px;
    border: 6px solid #E5E7EB;
    border-radius: 12px;
    cursor: pointer;
}

.asteroid-pop-text,
.pong-text {
    color: #E5E7EB;
    text-align: center;
    font-weight: 700;
}


/* Inspirational quote */

.inspirational-quote {
    background-color: #322f47;
    color: #E5E7EB;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 12px;
}

.quote-text {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    max-width: 600px;
}

.quote-person {
    font-weight: 700;
    font-size: 16px;
    min-width: 120px;
    max-width: 600px;
}

/* Connect section */

.connect-section {
    /* For parallax background image */
    background-image: url("./img/background-pic-2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 140px;
    padding-bottom: 140px;
    justify-content: center;
}

.connect-bg-square {
    background-color:#a884caa4;
    padding: 20px;
    padding-left: 44px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.connect-container {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 160px;
}

/* Footer */

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231a2c;
    color: #E5E7EB;
    font-size: 14px;
}

.footer .text-container {
    min-width: 190px;
}


/* General */

button {
    width: 170px;
    font-size: 18px;
    font-weight: bold;
    background-color: #582b7c;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #E5E7EB;
}

.connect-section a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 900;
    color: #231a2c;
}

.connect-section img {
    width: 40px;
    height: 40px;
}

/* Media queries for larger screens (mobile came first) */

@media only screen and (orientation: landscape) and (min-width: 600px){
    .header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .games {
        flex-direction: row;
    }

    .header-logo {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 860px){
    .header,
    .hero,
    .games-section,
    .inspirational-quote,
    .footer {
        padding-left: 200px;
        padding-right: 200px;
    }

    .header {
        justify-content: space-between;
    }
}