* {
    margin: 0px;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Header */

.header {
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #352850;
    position: sticky;
    top: 0;
}

.header-logo {
    height: 40px;
    width: auto;
    border: 3px solid #E5E7EB;
    border-radius: 8px;
    margin-right: 20px;
}

.header-links {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
}

/* Hero */

.hero {
    background-color: #201b2b;
    padding: 140px 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}

.hero-main-text {
    font-size: 48px;
    font-weight: 920;
    color: #F9FAF8;
    text-align: center;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    max-width: 460px;
}

/* Games section */

.games-section {
    padding: 60px 200px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.games {
    display: flex;
    gap: 100px;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.game-header-text {
    font-size: 42px;
    font-weight: 900;
    color: #201b2b;
    text-align: center;
}

.asteroid-pop,
.pong {
    height: 150px;
    width: 150px;
    border: 6px solid #5920c4;
    border-radius: 12px;
    cursor: pointer;
}

.asteroid-pop-text,
.pong-text {
    color: #201b2b;
    text-align: center;
    font-weight: 700;
}


/* Inspirational quote */

.inspirational-quote {
    background-color: #d4bdff;
    color: #201b2b;
    display: flex;
    flex-direction: column;
    padding: 140px 200px;
    gap: 12px;
    margin: auto;
}

.quote-text {
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    
}

.quote-person {
    font-weight: 700;
    align-self: center;
    font-size: 18px;
    flex-shrink: 0;
}


/* General */

button {
    width: 170px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5920c4;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #E5E7EB;
}